<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crea tu Cuenta</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15d07fefc8.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="/css/styleHome.css">
    <link  rel="stylesheet" href="/css/styleShoppingBasket.css">
    
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="logo-mercado-liebre"></a>
            <!--  -->
            <form action="/" method="GET" class="home-form">
                <div class="search-bar">
                <label for="search-bar"></label><i class="fa-solid fa-search"></i>
                <input type="search" id="search-bar" class="box-info" minlength="6" maxlength="35" name="search-bar" placeholder="Buscar productos, marcas y más">
                </div>
            </form>
            <!--  -->
            <h4 class="promocion">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
        </h4>
        </div>
        
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-header-navbar">
            <ul class="left-navbar">
                    <li><a href="#"> Ofertas </a></li>
                    <li><a href="#"> Tiendas Oficiales </a></li>
                    <li><a href="#"> Vender </a></li>
                    <li><a href="#"> Ayuda  </a></li>
            </ul>
            <!--  -->
            <ul class="right-navbar">
                <li><a href="/register"> Crea tu cuenta
                    <i class="fa-solid fa-address-book"></i>
                </a></li>
                <li><a href="/login"> Ingresa 
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </a></li>
                <li><a href="/shoppingBasket"> Mis Compras
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </a></li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <img src="./images/img-home-banner.jpg" alt="homeBanner ofertas">
    </section>
    <main>

    </main>
    <footer>
        <section class="section-footer">
            <article>
                <i id="icon" class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i id="icon" class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i id="icon" class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>    
        </section>
    </footer>
    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
</body>
</html>